<div class = "contenedor">

  <mat-toolbar>

    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 routerLink="/" style="cursor: pointer;"> Horus </h1>

    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="/perfil">
        <mat-icon>account_box</mat-icon>
        <span>My Count</span>
      </button>

      <button mat-menu-item (click)="sidenav.opened = false">
        <mat-icon>exit_to_app</mat-icon>
        <span>Clouse</span>
      </button>
    </mat-menu>
  </mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav style="width: 200px;">

    <img src="assets/horustrasp.png" width="128" style="margin-left: 20px;">

    <button mat-menu-item  routerLink="/provinces" (click)="sidenav.toggle()" style="cursor: pointer;">
      <mat-icon>public</mat-icon>
      <span>province</span>
    </button>
    <mat-divider></mat-divider>

    <button mat-menu-item  routerLink="/cities" (click)="sidenav.toggle()" style="cursor: pointer;">
      <mat-icon>location_city</mat-icon>
      <span>City</span>
    </button>
    <mat-divider></mat-divider>

  </mat-sidenav>

<!--
  Direccionamiento entre paginas
-->
  <mat-sidenav-container>
    <router-outlet></router-outlet>
  </mat-sidenav-container>

</mat-sidenav-container>

</div>